.page-title h1 {
    display: none;
    
}
.page-group {
    margin-top:160px;
}
.index-title {
    font-family: 'Nosifer', cursive;
    
}

       /*  .index {
           position: relative;
           margin: auto;e
           left: 0;
           right: 0;
           top: 0;
           bottom:0;
       }*/

       .index-body .row {
           position: fixed;
           font-size:100px;
           color: white;
           left: 0;
           right: 0;
           top: 0;
           bottom: 0;
           margin: auto;
           animation: bounceIn 1s;
           z-index:1;
       }

       .index-footer img {
           width: 40%;
           -webkit-animation: rotate-scale-up 0.65s linear both;
           animation: rotate-scale-up 0.65s linear both;
       }