@{
    ViewData["Title"] = "Home Page";
}


    <link href="https://fonts.googleapis.com/css2?family=Nosifer&display=swap" rel="stylesheet">
    <style>
       

    </style>


<div class="index container">
    <div class="index-body col-md-12 col">
        <div class="row justify-content-center align-items-center">
            <img src="https://raw.githubusercontent.com/bear80416/HenryWuCompany/master/HenryWuCompany/Assets/Img/ice-cream/png/006-ice cream.png" />
            <div class="index-title">
                Henry Wu

            </div>
            <div class="index-button">
                <button class="btn btn-warning ml-2">Profile</button>
                <button type="button" class="btn btn-outline-warning ml-2" data-container="body" data-toggle="popover" data-placement="top" data-content="New!JS的新功課">拼圖</button>
            </div>
        </div>
    </div>
    <div class="index-footer col-md-12 col">
        <div class="row justify-content-center align-items-center">
            
        </div>

    </div>
</div>
    <div class="fixed-bottom text-center bg-white"><p>&copy; @DateTime.Now.Year - Ice Cream Shop</p></div>