
@{
    ViewData["Title"] = "Apple";
}

@section TopCss{
    <style>
        span {
            border-bottom: 1px solid #aaa;
        }
    </style>
}
@section EndJs{

    <script>
        const Products = [{
            color: '太空灰',
            imageUrl: '../img/Apple/ipad-wifi-select-space-201909_GEO_TW.png'
        },
        {
            color: '銀色',
            imageUrl: '../img/Apple/ipad-wifi-select-silver-201909_GEO_TW.png'
        },
        {
            color: '金色',
            imageUrl: '../img/Apple/ipad-wifi-select-gold-201909_GEO_TW.png'
        },
        ]
        var productImg = document.getElementById('product-img');
        var price = document.getElementById('price');
        var changep = document.getElementById('changeP');


        function changeColor(num) {

            let img = Products.find(o => o.color === num);
            console.log(img.imageUrl);

            productImg.innerHTML = `<img src="${img.imageUrl}" alt="iPad" class="w-75" >`;


        }

        function priceP(num) {
            let tax = num * 0.05;
            let monthpay = num / 12;
            price.innerHTML = `<p class="h1">NT$ ${num}起</p>
                                <p>含營業稅和其他法定稅費：約 NT$${tax}。*</p>
                                <a href="#">最低月付 NT$${monthpay.toFixed(0)}，12 個月，0% 利率</a>`;
        }

        function changePrice() {
            changep.innerHTML = ` <div class="col-md-5 col-5 mx-2">
                                <button type="button" class=" btn border w-100" onclick="priceP(13900)">
                                    <p class="h5">Wi-Fi</p>
                                    <p>NT$ 13,900 起</p>
                                </button></div>
                            <div class="col-md-5 col-5 mx-2">
                                <button type="button" class=" btn border w-100" onclick="priceP(18400)">
                                    <p class="h5 align-items-center">Wi-Fi + 行動網路</p>
                                    <p>NT$ 18,400 起</p>
                                </button></div>


                            <a href="#" class="p mt-3">你需要 Wi-Fi 或 Wi-Fi + 行動網路機型？</a>`;


        }

        function changePricetwo() {
            changep.innerHTML = ` <div class="col-md-5 col-5 mx-2">
                                <button type="button" class=" btn border w-100" onclick="priceP(10900)">
                                    <p class="h5">Wi-Fi</p>
                                    <p>NT$ 10,900 起</p>
                                </button></div>
                            <div class="col-md-5 col-5 mx-2">
                                <button type="button" class=" btn border w-100" onclick="priceP(15400)">
                                    <p class="h5 align-items-center">Wi-Fi + 行動網路</p>
                                    <p>NT$ 15,400 起</p>
                                </button></div>


                            <a href="#" class="p mt-3">你需要 Wi-Fi 或 Wi-Fi + 行動網路機型？</a>`;


        }
    </script>
}


<div class="container bg-white p-3">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 col-12 text-center" id="product-img">
            <img src="~/img/Apple/ipad.jpeg" alt="iPad" class="w-75">
        </div>
        <div class="col-md-6 col-12">
            <div class="col-md-12">
                <h3>購買 iPad</h3>
                <p>購買 iPad 可享免額外付費運送服務。</p>
            </div>
            <div class="col-md-12 mb-4" id="color">
                <p class="h5">外觀</p>
                <div class="row text-center">
                    <div class="col-5 mx-2 ">
                        <button type="button" class="btn border w-100 h-100" onclick="changeColor(this.innerText)">
                            太空灰
                        </button>
                    </div>
                    <div class="col-5 mx-2">
                        <button type="button" class="btn border w-100 h-100" onclick="changeColor(this.innerText)">
                            銀色
                        </button>
                    </div>
                    <div class="col-5 mx-2 mt-3">
                        <button type="button" class="btn border w-100 h-100" onclick="changeColor(this.innerText)">
                            金色
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col mb-4" id="type">
                <span></span>
                <p class="h5">儲存裝置</p>
                <div class="row text-center ">
                    <div class="col-5 mx-2">
                        <button type="button" class="btn border w-100" onclick="changePricetwo()">
                            <p class="h5">32GB</p>
                            <p>NT$10,900 起</p>
                        </button>
                    </div>
                    <div class="col-5 mx-2">
                        <button type="button" class="btn border w-100" onclick="changePrice()">
                            <p class="h5">128GB</p>
                            <p>NT$13,900 起</p>
                        </button>
                    </div>

                    <a href="#" class="p mt-3">你需要多少儲存空間？</a>
                </div>
            </div>

            <div class="col-md-12 col mb-4">
                <span></span>
                <p class="h5">連線能力</p>
                <div class="row text-center" id="changeP">
                    <div class="col-md-5 col-5 mx-2">
                        <button type="button" class=" btn border w-100" onclick="priceP(10900)">
                            <p class="h5">Wi-Fi</p>
                            <p>NT$10,900 起</p>
                        </button>
                    </div>
                    <div class="col-md-5 col-5 mx-2">
                        <button type="button" class=" btn border w-100" onclick="priceP(15400)">
                            <p class="h5 align-items-center">Wi-Fi + 行動網路</p>
                            <p>NT$15,400 起</p>
                        </button>
                    </div>


                    <a href="#" class="p mt-3">你需要 Wi-Fi 或 Wi-Fi + 行動網路機型？</a>
                </div>
            </div>

            <div class="col-md-12 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-12 mb-3" id="price">
                        <p class="h1">NT$ 10900起</p>
                        <p>含營業稅和其他法定稅費：約 NT$544。*</p>
                        <a href="#">最低月付 NT$908，12 個月，0% 利率</a>
                    </div>
                    <div class="col-md-12 mb-3">
                        <button type="button" class="btn btn-primary w-75 ">加入購物袋</button>
                    </div>
                    <div class="col-5"></div>
                    <div class="col-5"></div>
                </div>
            </div>
        </div>
    </div>
</div>
