
@{
    ViewData["Title"] = "冰淇淋附設披薩店 | Pizza";
}


<header>
</header>

<div class="container">

    <section class="row">
    </section>

</div>


@section EndJs{
    <script>
        var header = document.querySelector('header');
        var section = document.querySelector('section');


        var url = 'https://raw.githubusercontent.com/TimChen0409/FileStorage/master/Pizza.json';
        var request = new XMLHttpRequest();
        request.open('GET', url);
        request.responseType = 'json';
        request.send();

        request.onload = function () {
            var pizzaHot = request.response;
            /* pizzaHeader(pizzaHot); */
            showPizza(pizzaHot);
        }

        /*     function pizzaHeader(jsonObj) {
                var myH1 = document.createElement('h1');
                myH1.textContent = jsonObj['squadName'];
                header.appendChild(myH1);

                var myPara = document.createElement('p');
                myPara.textContent = 'Hometown: ' + jsonObj['homeTown'] + ' // Formed: ' + jsonObj['formed'];
                header.appendChild(myPara);
            } */

        function showPizza(jsonObj) {
            var pizzas = jsonObj['pizzaProduct'];

            for (i = 0; i < pizzas.length; i++) {
                var myArticle = document.createElement('Article');
                var myH2 = document.createElement('h3');
                var myPara1 = document.createElement('p');
                var myPara2 = document.createElement('p');
                var myPara3 = document.createElement('p');
                var myList = document.createElement('button');
                var mydiv = document.createElement('div');

                myH2.textContent = pizzas[i].pdName;
                myPara1.textContent = '餡料:' + pizzas[i].stuffing;
                myPara2.textContent = pizzas[i].description;
                myPara3.textContent = '♥♥♥♥♥';
                mydiv.innerHTML = `<img src="../img/Project/Pizza/${pizzas[i].pdImage}" width="200" height="200" >`;

                var price = pizzas[i].price;

                //var listItem = document.createElement('button');
                myList.textContent = price;
                //myList.appendChild(listItem);

                myArticle.appendChild(mydiv);
                myArticle.appendChild(myH2);
                myArticle.appendChild(myPara3);
                myArticle.appendChild(myList);
                myArticle.appendChild(myPara1);
                myArticle.appendChild(myPara2);



                section.appendChild(myArticle);
                myArticle.className = ('col-md-3 col-12 px-3 bg-light border-top border-info');
                myH2.className = 'mt-2';
                myPara3.className = 'text-danger d-flex justify-content-end';
                mydiv.className = 'd-flex justify-content-center bg-warning mt-3';
                myList.className = 'btn btn-dark w-100 text-center mb-2';
                myList.type = 'button';
            }

        }



    </script>
    }
