@{
    ViewData["Title"] = "Henry's Blog";
}

@section TopCss{
    
    <link href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap" rel="stylesheet">
   <style>
        .newstitle{
            font-size: x-large;
            border-bottom: 5px solid #bd7272;
            width: 100%;
        }
        p{
            font-size: 15px;
        }
    </style>
}

@section EndJs{

    <script>
        var Obj =  [{
                "Title": "使用DOM刻出APPLE購物頁面",
                "DateTime": "2020/10/23",
                "Content": "哈哈",
                "Writer": "Henry Wu",
                "Pic": "https://picsum.photos/250/200/?random=1",
                "Type": "#JavaScript"
            }, {
                "Title": "寫出簡易計算機",
                "DateTime": "2020/10/23",
                "Content": "哈哈",
                "Writer": "Henry Wu",
                "Pic": "https://picsum.photos/250/200/?random=2",
                "Type": "#.net Core"
            }, {
                "Title": "如何使用Ajax連接資料",
                "DateTime": "2020/10/23",
                "Content": "哈哈",
                "Writer": "Henry Wu",
                "Pic": "https://picsum.photos/250/200/?random=3",
                "Type": "#JavaScript"
            }, {
                "Title": "手工刻出簡易行事曆",
                "DateTime": "2020/10/23",
                "Content": "哈哈",
                "Writer": "Henry Wu",
                "Pic": "https://picsum.photos/250/200/?random=4",
                "Type": "#.net Core"
            }, {
                "Title": "如何寫出拼圖遊戲",
                "DateTime": "2020/10/23",
                "Content": "哈哈",
                "Writer": "Henry Wu",
                "Pic": "https://picsum.photos/250/200/?random=5",
                "Type": "#JavaScript"
            }, {
                "Title": "第一次使用Chart.js",
                "DateTime": "2020/10/23",
                "Content": "哈哈",
                "Writer": "Henry Wu",
                "Pic": "https://picsum.photos/250/200/?random=6",
                "Type": "#.net Core"
            }, {
                "Title": "猜數字遊戲，超級燒腦邏輯",
                "DateTime": "2020/10/23",
                "Content": "哈哈",
                "Writer": "Henry Wu",
                "Pic": "https://picsum.photos/250/200/?random=7",
                "Type": "#Vue"
            } ]
        


        function Binding() {
            new Vue({
                el: '#newbox',
                data: {
                    items:Obj
                }
                   
                
            })
        };


        $(document).ready(function () {
            Binding();
        })

    </script>
}

 <div class="container-md bg-white p-1">
        <div class="row">
            <div class="col-md-12 mb-3">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">JavaScript</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Vue</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2 border-0" type="search" placeholder="拼圖"
                                aria-label="Search">
                            <button class="btn my-2 my-sm-0" type="submit"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                              </svg></button>
                        </form>
                    </div>
                </nav>
            </div>
            <div class="col-md-8" id="newbox">
                <div class="col-12 border-bottom">
                    <div class="d-inline newstitle">最新文章</div> 
                </div>
                <div class="col-12 p-3 mx-auto border-bottom" v-for="item in items">
                    <div class="row justify-items-center">
                        <div class="col-2 type">
                            <p class="text-muted">{{item.Type}}</p>
                        </div>
                        <div class="col-5"><img v-bind:src="item.Pic"></div>
                        <div class="col-5">
                            <div class="row ">
                                <div class="title col-12">
                                    <a href="#" class="text-dark">
                                        <h2>{{item.Title}}</h2>
                                    </a>
                                </div>
                                <div class="col-8 writer text-muted border-right "><p class="h-100 align-items-center">{{item.Writer}} - {{item.DateTime}}</p></div>
                                <div class="col share"><svg width="1em" height="1em" viewBox="0 0 16 16"
                                        class="bi bi-box-arrow-up" fill="currentColor"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M3.5 6a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-2a.5.5 0 0 1 0-1h2A1.5 1.5 0 0 1 14 6.5v8a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-8A1.5 1.5 0 0 1 3.5 5h2a.5.5 0 0 1 0 1h-2z" />
                                        <path fill-rule="evenodd"
                                            d="M7.646.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 1.707V10.5a.5.5 0 0 1-1 0V1.707L5.354 3.854a.5.5 0 1 1-.708-.708l3-3z" />
                                    </svg></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-12 toptext border-bottom">
                   <div class="newstitle d-inline">熱門文章</div>
                </div>
            </div>
        </div>
    </div>



